svg {
    vertical-align: baseline;
}

.ant-table-thead>tr>th {
    white-space: nowrap;
}

/* https://github.com/ant-design/ant-design/issues/12373 */
.ant-picker-calendar-header .ant-radio-group {
    display: none !important
}